<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793340434521-mhdf2gfcv8bqdh1tu7995vh7ibl148lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793340434521-mhdf2gfcv8bqdh1tu7995vh7ibl148lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDIBoIZvZlVWbObac_iOJVO3TAl141rHz4</string>
	<key>GCM_SENDER_ID</key>
	<string>793340434521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.watchlist</string>
	<key>PROJECT_ID</key>
	<string>watch-b5164</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-b5164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793340434521:ios:33e76b7bd9b7e7e9acb948</string>
</dict>
</plist>